
@{
    ViewBag.Title = "NieuweGrafiek";
}
<link href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Layout.css">
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/TypeGeladen.js"></script>
<script src="~/Scripts/WijzigGrafiekType.js"></script>
<script src="~/Scripts/MaakGrafiek.js"></script>


<div class="container">
    <div class="col-sm-10 col-md-10" id="typediagram">

        <select class="form-control" onchange="wijzigtype(this, 'grafiekdiv', 'vergelijking', 'barchart', 'linechart', 'piechart');">
            <option value="Lijn Diagram">Lijn Diagram</option>
            <option value="Staaf Diagram">Staaf Diagram</option>
            <option value="Taart Diagram">Taart Diagram</option>
            <option value="Vergelijking">Vergelijking</option>
        </select>
    </div>
    <br />

    <div class="col-sm-10 col-md-10 content" id="grafiekdiv">
        <div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>

    
        <div id="vergelijking">
            <div class="col-sm-6 col-md-6 vergelijkopties">
                <select class="form-control">
                    <option value="Politieker">Politieker</option>
                    <option value="Thema">Thema</option>
                </select>
            </div>

            <div class="col-sm-6 col-md-6 vergelijkopties">
                <select class="form-control">
                    <option value="Aantal tweets">Aantal tweets</option>
                    <option value="Aantal mentions">Aantal mentions</option>
                    <option value="Aantal hashtags">Aantal hashtags</option>
                </select>
            </div>
        </div>
    
    
        <div id="barchart">
            <div class="col-sm-12 col-md-12 barchartopties">
                <select class="form-control"   onchange="wijzigbar(this, 'barpolopties', 'barthemaopties');">
                    <option value="Politieker">Politieker</option>
                    <option value="Thema">Thema</option>
                </select>
            </div>

            <div class="col-sm-6 col-md-6 barchartopties barpolopties">
                <label>Aantal politiekers</label>
                <select class="form-control"  onchange="barwijzigaantalpol(this, 'baraantalpol')">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="col-sm-6 col-md-6 barchartopties barthemaopties">
                <label>Aantal Themas</label>
                <select class="form-control"  onchange="barwijzigaantalthema(this, 'baraantalthema')">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="col-sm-6 col-md-6 barchartopties barpolopties">
                <label>x-as</label>
                <select class="form-control baraantalpol barstartpol">
                    <option value="Politieker1">Politieker1</option>
                    <option value="Politieker2">Politieker2</option>
                    <option value="Politieker3">Politieker3</option>
                </select>
                <select class="form-control baraantalpol">
                    <option value="Politieker1">Politieker1</option>
                    <option value="Politieker2">Politieker2</option>
                    <option value="Politieker3">Politieker3</option>
                </select>
                <select class="form-control baraantalpol">
                    <option value="Politieker1">Politieker1</option>
                    <option value="Politieker2">Politieker2</option>
                    <option value="Politieker3">Politieker3</option>
                </select>
                <select class="form-control baraantalpol">
                    <option value="Politieker1">Politieker1</option>
                    <option value="Politieker2">Politieker2</option>
                    <option value="Politieker3">Politieker3</option>
                </select>
                <select class="form-control baraantalpol">
                    <option value="Politieker1">Politieker1</option>
                    <option value="Politieker2">Politieker2</option>
                    <option value="Politieker3">Politieker3</option>
                </select>
            </div>

            <div class="col-sm-6 col-md-6 barchartopties barthemaopties">
                <label>x-as</label>
                <select class="form-control baraantalthema barstartthema">
                    <option value="Thema1">Thema1</option>
                    <option value="Thema2">Thema2</option>
                    <option value="Thema3">Thema3</option>
                </select>
                <select class="form-control baraantalthema">
                    <option value="Thema1">Thema1</option>
                    <option value="Thema2">Thema2</option>
                    <option value="Thema3">Thema3</option>
                </select>
                <select class="form-control baraantalthema">
                    <option value="Thema1">Thema1</option>
                    <option value="Thema2">Thema2</option>
                    <option value="Thema3">Thema3</option>
                </select>
                <select class="form-control baraantalthema">
                    <option value="Thema1">Thema1</option>
                    <option value="Thema2">Thema2</option>
                    <option value="Thema3">Thema3</option>
                </select>
                <select class="form-control baraantalthema">
                    <option value="Thema1">Thema1</option>
                    <option value="Thema2">Thema2</option>
                    <option value="Thema3">Thema3</option>
                </select>
            </div>

            <div class="col-sm-6 col-md-6 barchartopties barpolopties">
                <label>y-as</label>
                <select class="form-control">
                    <option value="Aantal tweets">Aantal tweets</option>
                    <option value="Aantal mentions">Aantal mentions</option>
                    <option value="Aantal hashtags">Aantal hashtags</option>
                </select>
            </div>

            <div class="col-sm-6 col-md-6 barchartopties barthemaopties">
                <label>y-as</label>
                <select class="form-control">
                    <option value="Aantal tweets">Aantal tweets</option>
                    <option value="Aantal mentions">Aantal mentions</option>
                    <option value="Aantal hashtags">Aantal hashtags</option>
                </select>
            </div>
        </div>
                <div id="linechart">
                    <div class="col-sm-12 col-md-12 linechartopties">
                        <select class="form-control" onchange="wijzigline(this, 'linepolopties', 'linethemaopties', 'lineevolutieopties','polperline', 'themaperline');">
                            <option value="Politieker">Politieker</option>
                            <option value="Thema">Thema</option>
                            <option value="Evolutie">Evolutie van aantal tweets</option>
                        </select>
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties linepolopties">
                        <label>Aantal politiekers</label>
                        <select class="form-control" onchange="linewijzigaantalpol(this, 'lineaantalpol')">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties linethemaopties">
                        <label>Aantal Themas</label>
                        <select class="form-control" onchange="linewijzigaantalthema(this, 'lineaantalthema')">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties linepolopties">
                        <label>lines</label>
                        <select class="form-control lineaantalpol linestartpol">
                            <option value="Politieker1">Politieker1</option>
                            <option value="Politieker2">Politieker2</option>
                            <option value="Politieker3">Politieker3</option>
                        </select>
                        <select class="form-control lineaantalpol">
                            <option value="Politieker1">Politieker1</option>
                            <option value="Politieker2">Politieker2</option>
                            <option value="Politieker3">Politieker3</option>
                        </select>
                        <select class="form-control lineaantalpol">
                            <option value="Politieker1">Politieker1</option>
                            <option value="Politieker2">Politieker2</option>
                            <option value="Politieker3">Politieker3</option>
                        </select>
                        <select class="form-control lineaantalpol">
                            <option value="Politieker1">Politieker1</option>
                            <option value="Politieker2">Politieker2</option>
                            <option value="Politieker3">Politieker3</option>
                        </select>
                        <select class="form-control lineaantalpol">
                            <option value="Politieker1">Politieker1</option>
                            <option value="Politieker2">Politieker2</option>
                            <option value="Politieker3">Politieker3</option>
                        </select>
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties linethemaopties">
                        <label>lines</label>
                        <select class="form-control lineaantalthema linestartthema">
                            <option value="Thema1">Thema1</option>
                            <option value="Thema2">Thema2</option>
                            <option value="Thema3">Thema3</option>
                        </select>
                        <select class="form-control lineaantalthema">
                            <option value="Thema1">Thema1</option>
                            <option value="Thema2">Thema2</option>
                            <option value="Thema3">Thema3</option>
                        </select>
                        <select class="form-control lineaantalthema">
                            <option value="Thema1">Thema1</option>
                            <option value="Thema2">Thema2</option>
                            <option value="Thema3">Thema3</option>
                        </select>
                        <select class="form-control lineaantalthema">
                            <option value="Thema1">Thema1</option>
                            <option value="Thema2">Thema2</option>
                            <option value="Thema3">Thema3</option>
                        </select>
                        <select class="form-control lineaantalthema">
                            <option value="Thema1">Thema1</option>
                            <option value="Thema2">Thema2</option>
                            <option value="Thema3">Thema3</option>
                        </select>
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties linepolopties">
                        <label>y-as</label>
                        <select class="form-control">
                            <option value="Aantal tweets">Aantal tweets</option>
                            <option value="Aantal mentions">Aantal mentions</option>
                            <option value="Aantal hashtags">Aantal hashtags</option>
                        </select>
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties linethemaopties">
                        <label>y-as</label>
                        <select class="form-control">
                            <option value="Aantal tweets">Aantal tweets</option>
                            <option value="Aantal mentions">Aantal mentions</option>
                            <option value="Aantal hashtags">Aantal hashtags</option>
                        </select>
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties linepolopties">
                        <label>x-as</label>
                        <select class="form-control" onchange="linewijzigtijdpol(this, 'linepoldagen', 'linepolweken')" id="polperline">
                            <option value="per dag">per dag</option>
                            <option value="per week">per week</option>
                        </select>
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties linethemaopties">
                        <label>x-as</label>
                        <select class="form-control" onchange="linewijzigtijdthema(this, 'linethemadagen', 'linethemaweken')" id="themaperline">
                            <option value="per dag">per dag</option>
                            <option value="per week">per week</option>
                        </select>
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties linepolopties" id="linepoldagen">
                        <label>Hoeveel dagen</label>
                        <input class="form-control" />
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties linethemaopties" id="linethemadagen">
                        <label>Hoeveel dagen</label>
                        <input class="form-control" />
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties linepolopties" id="linepolweken">
                        <label>Hoeveel weken</label>
                        <input class="form-control" />
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties linethemaopties" id="linethemaweken">
                        <label>Hoeveel weken</label>
                        <input class="form-control" />
                    </div>

                    <div class="col-sm-6 col-md-6 linechartopties lineevolutieopties">
                        <label>x-as</label>
                        <select class="form-control">
                            <option value="per dag">per dag</option>
                            <option value="per week">per week</option>
                        </select>
                    </div>
        </div>
        <div id="piechart">
            <div class="col-sm-12 col-md-12 piechartopties">
                <select class="form-control" onchange="wijzigpie(this, 'soortpie', 'kruisingpolopties', 'kruisingthemaopties', 'piepolopties', 'piethemaopties')" id="typepie">
                    <option value="Kruising">Kruising</option>
                    <option value="Overzicht">Overzicht</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-12 piechartopties">
                <select class="form-control" onchange="wijzigtypepie(this, 'typepie', 'kruisingpolopties', 'kruisingthemaopties', 'piepolopties', 'piethemaopties')" id="soortpie">
                    <option value="Politieker">Politieker</option>
                    <option value="Thema">Thema</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-6 piechartopties kruisingpolopties">
                <label>Politieker</label>
                <select class="form-control">
                    <option value="Politieker1">Politieker1</option>
                    <option value="Politieker2">Politieker2</option>
                    <option value="Politieker3">Politieker3</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-6 piechartopties kruisingthemaopties">
                <label>Thema</label>
                <select class="form-control">
                    <option value="Thema1">Thema1</option>
                    <option value="Thema2">Thema2</option>
                    <option value="Thema3">Thema3</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-6 piechartopties kruisingpolopties">
                <label>Wat?</label>
                <select class="form-control">
                    <option value="Tweets over">Tweets over</option>
                    <option value="Mentions over">Mentions over</option>
                    <option value="Hashtags over">Hashtags over</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-6 piechartopties kruisingthemaopties">
                <label>Wat?</label>
                <select class="form-control">
                    <option value="Tweets over">Tweets over</option>
                    <option value="Mentions over">Mentions over</option>
                    <option value="Hashtags over">Hashtags over</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-6 piechartopties kruisingpolopties">
                <label>Kruisen met?</label>
                <select class="form-control">
                    <option value="Gemeente">Gemeente</option>
                    <option value="Geslacht">Geslacht</option>
                    <option value="Leeftijd">Leeftijd</option>
                    <option value="Opleiding">Opleiding</option>
                    <option value="Taal">Taal</option>
                    <option value="Persoonlijkheid">Persoonlijkheid</option>
                    <option value="Trend">Trend</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-6 piechartopties kruisingthemaopties">
                <label>Kruisen met?</label>
                <select class="form-control">
                    <option value="Gemeente">Gemeente</option>
                    <option value="Geslacht">Geslacht</option>
                    <option value="Leeftijd">Leeftijd</option>
                    <option value="Opleiding">Opleiding</option>
                    <option value="Taal">Taal</option>
                    <option value="Persoonlijkheid">Persoonlijkheid</option>
                    <option value="Trend">Trend</option>
                </select>
            </div>

            <div class="col-sm-6 col-md-6 piechartopties piepolopties">
                <label>Politieker</label>
                <select class="form-control">
                    <option value="Politieker1">Politieker1</option>
                    <option value="Politieker2">Politieker2</option>
                    <option value="Politieker3">Politieker3</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-6 piechartopties piethemaopties">
                <label>Thema</label>
                <select class="form-control">
                    <option value="Thema1">Thema1</option>
                    <option value="Thema2">Thema2</option>
                    <option value="Thema3">Thema3</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-6 piechartopties piepolopties">
                <label>Type</label>
                <select class="form-control">
                    <option value="Top5">Top5</option>
                    <option value="Top10">Top10</option>
                </select>
            </div>

            <div class="col-sm-6 col-md-6 piechartopties piethemaopties">
                <label>Type</label>
                <select class="form-control">
                    <option value="Top5">Top5</option>
                    <option value="Top10">Top10</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-6 piechartopties piepolopties">
                <label>Overzicht van</label>
                <select class="form-control">
                    <option value="Verhalen">Verhalen</option>
                    <option value="Thema's">Thema's</option>
                    <option value="Woorden">Woorden</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-6 piechartopties piethemaopties">
                <label>Overzicht van</label>
                <select class="form-control">
                    <option value="Verhalen">Verhalen</option>
                    <option value="Woorden">Woorden</option>
                </select>
            </div>
        </div>
    <div class="form-group maakgrafiek">
        <div class="col-md-6">
            <input type="submit" value="Maak Grafiek" class="btn btn-success" />
        </div>
    </div>

</div>

