@model BL.Domain.ZoekResultaat
@using BL.Domain;


@{
    ViewBag.Title = "Search page";
}

<script type="text/javascript" src="~/Scripts/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />


<!-- plakken vanaf hier -->
<div id="zoekdiv">
    <form action="/nl-BE/Politieker%20Barometer/Search/Index" method="post">
        <input type="text" id="zoekbar2" name="search" class="form-control" placeholder="@Resources.lang.Zoeken">


        <div class="container">


            <div class="row">
                <div class="col-md-3">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="" />Trending
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Extra filter
                    </label>
                </div>

                <div class="col-md-2 input-group">
                    <input type="text" class="form-control" placeholder="Postcode" id="zoekbar3" name="postcode" />
                </div>
                <div class="col-md-2 dropdown">
                    @Html.DropDownList("Filter", new SelectList(Enum.GetValues(typeof(ZoekFilter))), "Select Filter", new { @class = "form-control" })
                </div>
                <div class="col-md-2 dropdown">
                    @Html.DropDownList("Sorteren", new SelectList(Enum.GetValues(typeof(ZoekSorteren))), "Sorteren op", new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <label>Van:</label>
                    <input type="date" name="startDate" />
                </div>
                <div class="col-md-3">
                    <label>Tot:</label>
                    <input type="date" name="endDate" />
                </div>
            </div>
            <br />
            <div class="row">
                <input type="submit" value="Zoek" class="btn btn-success" id="btnzoek" />
            </div>
        </div>
    </form>
</div>
<div class="col-md-12">
</div>

@Html.Partial("_Resultaat", Model)
<div class="row">
    <input type="submit" value="Opslaan" class="btn btn-success" id="btnzoek" />
    <input type="submit" value="Annuleren" class="btn btn-success" />
</div>
