@model BL.Domain.Bericht
@using MVCIntegratie.Models

@{
    ViewBag.Title = "Search page";
}

<script type="text/javascript" src="~/Scripts/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />


<!-- plakken vanaf hier -->
<div id="zoekdiv">
    <form action="/Search/Index" method="post">
        <input type="text" id="zoekbar2" name="search" class="form-control" placeholder="Zoeken..">


        <div class="container">


            <div class="row">
                <div class="col-md-3">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="" />Trending
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Extra filter
                    </label>
                </div>

                <div class="col-md-2 form-group">
                    <input type="text" class="form-control" placeholder="Postcode" id="zoekbar3" />
                </div>
                <div class="col-md-3 dropdown"> 
                    @Html.DropDownList("Filter", new SelectList(Enum.GetValues(typeof(ZoekFilter))), "Select Filter", new { @class = "form-control" })
                </div>
                <div class="col-md-3 dropdown">
                    @Html.DropDownList("Sorteren", new SelectList(Enum.GetValues(typeof(ZoekSorteren))), "Sorteren op", new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <label>Van:</label>
                    <input type="date" />
                </div>
                <div class="col-md-3">
                    <label>Tot:</label>
                    <input type="date" />
                </div>
            </div>
            <br />
            <div class="row">
                <input type="submit" value="Zoek" class="btn btn-success" id="btnzoek" />
            </div>
        </div>
    </form>
</div>
<div class="col-md-12">
</div>

@Html.Partial("_Resultaat", Model)

