@{
    ViewBag.Title = "Search page";
}

<script type="text/javascript" src="~/Scripts/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<div>
    <input type="text" id="zoekbar2" name="search" class="form-control" placeholder="Zoeken..">
</div>
<div class="container">
    <form>
        <div class="row">
            <div class="col-md-3">
                <label class="checkbox-inline">
                    <input type="checkbox" value="" />Trending
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">Extra filter
                </label>
            </div>

            <div class="col-md-2 input-group">
                <input type="text" class="form-control" placeholder="Postcode" id="zoekbar3" />
            </div>
            <div class="col-md-2 dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Extra filters
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">filter1</a></li>
                    <li><a href="#">filter2</a></li>
                    <li><a href="#">filter3...</a></li>
                </ul>
            </div>
            <div class="col-md-2 dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Sorteren op
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Naam</a></li>
                    <li><a href="#">Datum</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Van:</label>
                <input type="date" />
            </div>
            <div class="col-md-3">
                <label>Tot:</label>
                <input type="date" />
            </div>
        </div>
        <br />
        <div class="row">
            <input type="submit" value="Zoek" class="btn btn-success" id="btnzoek" />
        </div>
    </form>
    <div class="col-md-12">

    </div>
    <div class="row">
        <input type="submit" value="Oplsaan" class="btn btn-success" id="btnzoek"/>
        <input type="submit" value="Annuleren" class="btn btn-success" />
    </div>
</div>
<script>
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d',
        orientation: top,
    });
</script>