
@{
    ViewBag.Title = "Deelplatform";
}

<h2>Deelplatform</h2>

<link rel="stylesheet" href="~/Content/Config.css">
<input type="text" name="search" placeholder="Zoek Deelplatform">


<ul class="list-group">
    <li class="list-group-item active">Deelplatform 1</li>
    <li class="list-group-item">Deelplatform 2</li>
    <li class="list-group-item">Deelplatform 3</li>
    <li class="list-group-item">Deelplatform 4</li>
    <li class="list-group-item">Deelplatform 5</li>
</ul>

<button type="button" class="btn">Onderwerp toevoegen</button>
<button type="button" class="btn">Onderwerp verwijderen</button>
<button type="button" class="btn">Parameter toevoegen</button>
<button type="button" class="btn">Parameter verwijderen</button>
<button type="button" class="btn">Bron toevoegen</button>
<button type="button" class="btn">Bron verwijderen</button>


