
@{
    ViewBag.Title = "Gebruikers";
    Layout = "";
}
<script src="~/Scripts/GebruikerSelect.js"></script>
<link rel="stylesheet" href="~/Content/Config.css">
<link rel="stylesheet" href="~/Content/Layout.css">
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<input type="text" name="search" placeholder="Zoek gebruiker">
<p></p>

<h2></h2>

<h2> Kies een gebruiker</h2>
<ul class="list-group">
    <li class="list-group-item active">Gebruiker 1</li>
    <li class="list-group-item">Gebruiker 2</li>
    <li class="list-group-item">Gebruiker 3</li>
    <li class="list-group-item">Gebruiker 4</li>
    <li class="list-group-item">Gebruiker 5</li>
</ul>

<button type="button" class="btn">Gegevens toevoegen</button>
<button type="button" class="btn">Gegevens verwijderen</button>
