@{
    ViewBag.Title = "Home Ingelogd";
}

<link href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Layout.css">
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/IngelogdeGebruiker.js"></script>

<div>
    <input type="text" id="zoekbar" name="search" class="form-control" placeholder="Zoeken..">
    <a href="#" id="newgraph" class="btn btn-success">Nieuwe Grafiek &raquo;</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12" id="nodeBox">
            <div>
                <div>
                    <img src="~/Images/nodebox.svg" style="width: 100%; height: auto;"/>
                </div>
                <div tabindex="0" class="onclick-menu">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <ul class="onclick-menu-content">
                        <li><button>Bewerken</button></li>
                        <li><button onclick="verwijder('nodeBox')">Verwijderen</button></li>
                        <li><button>Annuleren</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 content" id="divchart1">
            <div id="chart1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <div tabindex="0" class="onclick-menu">
                <span class="glyphicon glyphicon-pencil"></span>
                <ul class="onclick-menu-content">
                    <li><button>Bewerken</button></li>
                    <li><button onclick="verwijder('divchart1')">Verwijderen</button></li>
                    <li><button>Annuleren</button></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 content test"  id="divchart2">
            <div id="chart2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <div tabindex="0" class="onclick-menu">
                <span class="glyphicon glyphicon-pencil"></span>
                <ul class="onclick-menu-content">
                    <li><button>Bewerken</button></li>
                    <li><button onclick="verwijder('divchart2')">Verwijderen</button></li>
                    <li><button>Annuleren</button></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 content"  id="divchart3">
            <div id="chart3" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
            <div tabindex="0" class="onclick-menu">
                <span class="glyphicon glyphicon-pencil"></span>
                <ul class="onclick-menu-content">
                    <li><button>Bewerken</button></li>
                    <li><button onclick="verwijder('divchart3')">Verwijderen</button></li>
                    <li><button>Annuleren</button></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 content"  id="divchart4">
            <div id="chart4" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <div tabindex="0" class="onclick-menu">
                <span class="glyphicon glyphicon-pencil"></span>
                <ul class="onclick-menu-content">
                    <li><button>Bewerken</button></li>
                    <li><button onclick="verwijder('divchart4')">Verwijderen</button></li>
                    <li><button>Annuleren</button></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 content"  id="divchart5">
            <div id="chart5" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <div tabindex="0" class="onclick-menu">
                <span class="glyphicon glyphicon-pencil"></span>
                <ul class="onclick-menu-content">
                    <li><button>Bewerken</button></li>
                    <li><button onclick="verwijder('divchart5')">Verwijderen</button></li>
                    <li><button>Annuleren</button></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 content"  id="divchart6">
            <div id="chart6" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <div tabindex="0" class="onclick-menu">
                <span class="glyphicon glyphicon-pencil"></span>
                <ul class="onclick-menu-content">
                    <li><button>Bewerken</button></li>
                    <li><button onclick="verwijder('divchart6')">Verwijderen</button></li>
                    <li><button>Annuleren</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
