@{
    ViewBag.Title = "Over";
}
<link rel="stylesheet" href="~/Content/Layout.css">
<script src="~/Scripts/Over.js"></script>
<div class="container">
    <ul class="nav nav-tabs" id="tabbar">
        <li class="active">
            <a data-toggle="tab" href="#home">Over ons</a>
        </li>
        <li>
            <a data-toggle="tab" href="#menu1">Hoe gebruik je onze site</a>
        </li>
        <li>
            <a data-toggle="tab" href="#menu2">Eventueel nog iets</a>
        </li>
        <li>
            <a data-toggle="tab" href="#menu3">En misschien nog iets</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Over ons</h3>
            <p>
                Wij zijn een groep studenten uit de richting Toegepaste Informatice aan de Karel De Grote Hogeschool in antwerpen.
                <br/>Onze groepsnaam is: "Bit By Bit".
                <br/>Onze groepsleden zijn: Evelien Hullebroeck, Brent Vermolen, Jonas Hofmans, Nathan Van Hof, Jos Hauqiuer en Daan Schokkaert.
            </p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Hoe gebruik je onze site</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>