
@{
    ViewBag.Title = "Instellingen Alerts";
}
<h2>
    Instellingen alerts
</h2>

<div class="row" id="row1">
    <div class="col-md-4">
        <div class="checkbox">
            <label><input type="checkbox" value="">Grafiek 1</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dropdown" id="dropdown1">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Frequentie
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Bij wijziging</a></li>
                <li><a href="#">Maandelijks</a></li>
                <li><a href="#">Dagelijks</a></li>
                <li><a href="#">Elk uur</a></li>
            </ul>
        </div> 
    </div>
    <div class="col-md-4">
        <div class="checkbox">
            <label><input type="checkbox" value="">Webbrowser alert</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Mail</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Push notificatie</label>
        </div> 
    </div>
</div>

<div class="row" id="row1">
    <div class="col-md-4">
        <div class="checkbox">
            <label><input type="checkbox" value="">Grafiek 2</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dropdown" id="dropdown1">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Frequentie
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Bij wijziging</a></li>
                <li><a href="#">Maandelijks</a></li>
                <li><a href="#">Dagelijks</a></li>
                <li><a href="#">Elk uur</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="checkbox">
            <label><input type="checkbox" value="">Webbrowser alert</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Mail</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Push notificatie</label>
        </div>
    </div>
</div>
<div class="row" id="row1">
    <div class="col-md-4">
        <div class="checkbox">
            <label><input type="checkbox" value="">Grafiek 3</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dropdown" id="dropdown1">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Frequentie
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Bij wijziging</a></li>
                <li><a href="#">Maandelijks</a></li>
                <li><a href="#">Dagelijks</a></li>
                <li><a href="#">Elk uur</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="checkbox">
            <label><input type="checkbox" value="">Webbrowser alert</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Mail</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Push notificatie</label>
        </div>
    </div>
</div>
<div class="row" id="row1">
    <div class="col-md-4">
        <div class="checkbox">
            <label><input type="checkbox" value="">Grafiek 4</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dropdown" id="dropdown1">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Frequentie
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Bij wijziging</a></li>
                <li><a href="#">Maandelijks</a></li>
                <li><a href="#">Dagelijks</a></li>
                <li><a href="#">Elk uur</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="checkbox">
            <label><input type="checkbox" value="">Webbrowser alert</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Mail</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Push notificatie</label>
        </div>
    </div>
</div>
<div class="row">
        <button type="button" class="btn btn-success">Opslaan</button>
        <button type="button" class="btn btn-success">Annuleren</button>
</div>

